.dx-button {
    background-color: #0D6EFD; /* Fondo azul claro */
    color: #FFFFFF; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 4px 12px; /* Ajusta el padding basado en la captura */
    border-radius: 4px; /* Borde redondeado */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    box-shadow: none; /* Sin sombra adicional */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima */
    width: auto; /* Ancho automático para ajustarse al texto */
    min-width: 115px; /* Ancho mínimo, según la imagen */
    height: 30px; /* Altura del botón, según la imagen */
}

    .dx-button:hover {
        background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    }

    .dx-button:active {
        background-color: #004085; /* Azul aún más oscuro cuando se hace clic */
    }

h3 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px; /* Ajusta el tamaño del botón */
    width: 16px; /* Ajusta el ancho según tu diseño */
    height: 16px; /* Ajusta el alto según tu diseño */
    border-radius: 8px; /* Esquinas redondeadas */
}

.custom-icon {
    width: 20px;
    height: 20px;
}
